<!DOCTYPE html>
<html>
	<head>
	  <title>Shall I Work?</title>
		<meta name="author" content="@mval">
		<meta name="description" content="Allows you to easily understand if you need to work hard now, or can relax for a while.">
		<meta name="keywords" content="Shall I work?, work, I need to work?, should I work?">
		<link rel="shortcut icon" href="http://shalliwork.com/favicon.png" />
	  <%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "locale", "locales/#{I18n.locale}" %>
	  <%= javascript_include_tag "colors.js", "working.js" %>
	  <%= csrf_meta_tag %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23498770-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<meta property="og:title" content="Shall I work now?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://shalliwork.com"/>
    <meta property="og:image" content="http://shalliwork.com/favicon.png"/>
    <meta property="og:site_name" content="Shall I work"/>
    <meta property="og:description" content="<%= t "og_description" %>"/>
		
	</head>
	<body>
		<%= yield %>
	</body>
</html>
